<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Importar Envíos Detalle</h4>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Pegar página</h4>
                <app-texteditor-envios-detalle></app-texteditor-envios-detalle>

            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>

</div>