<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Importar Envíos Página</h4>

            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Pegar página</h4>
                <app-texteditor-enviospag></app-texteditor-enviospag>

            </div>
        </div>
    </div>

</div>



<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">

            </div>
        </div>
    </div>

</div>