/* You can add global styles to this file, and also import other style files */

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors {
    cursor: pointer;
}

.selector {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.avatar {
    border: 1px solid grey;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.oculto {
    display: none;
}

.linea-ext {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px;
}

.linea-ext-xs {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 5px;
}

.si-no {
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(59, 59, 59);
    min-width: 50px;
    text-align: center;
}

.si-no:hover {
    background-color: rgb(190, 190, 190);
}

.linea-ext-gris {
    border: 3px dashed rgb(190, 190, 190);
    padding: 15px;
}

.linea-ext-verde {
    border: 3px dashed rgba(15, 197, 24);
    padding: 15px;
}